@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
  
}

#main-heading {
  font-family: "Eczar", serif;
}
.nav-item{
  font-size: 25px;
  font-style: bold;
  color: black;
  list-style: none;
  padding: 50px;

}
.container-fluid{
  background-color: #9ACD32;
  height: 15vh;
  list-style: none;
  padding: 10px;
  border: 2px solid black;
}
.btn{
  background-color: #9ACD32 ;
  color: black;
  border: 2px solid black;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 25px;
  text-align: center;
 
  
}
.display-5{
  text-align: center;
}
.lead{
  text-align: left;
}
.container{
  font-size: 15px;
  background-color: white;
  border: 2px solid #9ACD32;
  grid: 2 3;
  grid-gap: 10px;
}
.container {
  
  justify-content: space-between;
  padding-right: 50px;
  align-items: center;
  grid-template-columns: repeat(3, minmax(56px, 80px));
  display:block
}


