body {
    font-family: Open Sans;
	background: linear-gradient(90deg, white 30%, #e9967a 50%);
    margin-top: 90px;
}

h1 {
    text-align: center;
}


#quiz {
    text-indent: 10px;
    display:none;
    
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 60px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #ffa07a;
    color: white;
    margin: 0 2px 0 2px;
    justify-content: center;
    display: flex;
    
}

.button.active {
    background-color: white;
    color: white;
}

button {
    position: relative;
    float: centre;
}

.button a {
    text-decoration: none;
    color: #a0522d;
    
}

#container {
    width: 40%;
    height: 60vh;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #bc8f8f;
    border:4px solid #e9967a;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #f08080;
    justify-content: center;
    align-items: center;
    position: relative;
  
    
}

ul {
    list-style-type: none;
    padding: 10;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}